<div class="card gig-listing">

    <div class="content">

        <div class="image">
            <img [src]="photoUrl" [gigDefaultImage]="'../../../assets/default-band-picture.png'">
        </div>
        
        <div class="info">

            <h1>{{gigListing().fullTitle}}</h1>

            <div class="average-rating">
                <!-- <span>9.2</span> -->
            </div>
    
            <div class="text">
                <p>{{gigListing().band.description}}</p>

                <div class="pricing">
                    <label>Starting price: <strong>{{gigListing().startingPrice}} (for {{gigListing().minimumDurationHours}}h)</strong></label>
                    <label>Price per additional hour: <strong>{{gigListing().pricePerAdditionalHour}}</strong></label>
                    <label>Maximum duration: <strong>{{gigListing().maximumDurationHours}}h</strong></label>
                </div>
            </div>
            
            <div class="flex-column">
                <div class="buttons">
                    <ng-content></ng-content>
                </div>
            </div>
    
        </div>
        
    </div>
    
    <div class="tags">
        <div class="tags-section">
            <!-- @if (gigListing().active) {
                <gig-tag [backgroundColor]="'green'">Active</gig-tag>
            }
            @else {
                <gig-tag [backgroundColor]="'red'">Expired</gig-tag>
            }

            <gig-tag>Starting price {{gigListing().startingPrice}}</gig-tag> -->
            <gig-tag>{{gigListing().band.type | titlecase}}</gig-tag>
        </div>

        <div class="tags-section">
            @for (genre of gigListing().band.genres; track $index) {
                <gig-tag>{{genre.name}}</gig-tag>
            }
        </div>
    </div>
    
</div>