<div class="card">

    <div class="content">
        
        <div class="details">
    
            <div class="text">
                <h1>{{gigListing().band.name}}</h1>
        
                <p>{{gigListing().band.description}}</p>
            </div>
    
            <div></div>
    
        </div>
            
        <div class="buttons">
            <ng-content></ng-content>
        </div>
        
    </div>
    
    <div class="tags">
        <div class="tags-section">
            @if (gigListing().active) {
                <gig-tag [backgroundColor]="'green'">Active</gig-tag>
            }
            @else {
                <gig-tag [backgroundColor]="'red'">Expired</gig-tag>
            }

            <gig-tag>Starting price {{gigListing().startingPrice}}</gig-tag>
        </div>

        <div class="tags-section">
            <gig-tag>{{gigListing().pricePerAdditionalHour}} per additional hour</gig-tag>
            <gig-tag>{{gigListing().minimumDurationHours}}-{{gigListing().maximumDurationHours}} hours</gig-tag>
        </div>
    </div>
    
</div>