.panel {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    gap: 0.4rem;

    padding-block: 0.8rem;
    padding-inline: 2rem;
    align-items: center;

    max-width: 1920px;
    margin-inline: auto;
}

ul {
    display: flex;  
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

ul li {
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: var(--primary-clr);
    padding-block: 0.4rem;
    padding-inline: 0.7rem;

    border-radius: 0.5rem;

    cursor: pointer;
}

ul li:hover {
    background-color: var(--primary-clr-hover);
}

.panel img {
    cursor: pointer;
    height: 25px;
}

.branding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

    border-radius: 1rem;
    border: 2px solid white;
}

.branding:hover {
    cursor: pointer;
}

.branding label {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    
    cursor: pointer;
}

li.dropdown {
    position: relative;
}

li.dropdown ul {
    display: none;

    position: absolute;
    right: 0;

    border-radius: 0.3rem;
    
    background-color: var(--primary-clr);
}

li.dropdown ul li {
    font-size: 1rem;
    padding: 0.5rem;

    border: 1px white solid;
}

li.dropdown:hover ul {
    display: block;
}

li.dropdown ul li:hover {
    background-color: var(--primary-clr-hover);
}

.search-box {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.2rem;

    margin-inline: 5rem;
}

.search-box button {
    background-color: var(--secondary-clr);
}