<div class="panel">
    <div class="branding" [routerLink]="['']">
        <img src="./assets/logo.svg" alt="Logo"/>
        <label>Gigster</label>
    </div>
    <ul class="nav-buttons">
        <li [routerLink]="['search']">Bands</li>
    </ul>
    <div class="search-box">
        <input type="text" placeholder="Search..." [(ngModel)]="searchText">
        <button (click)="search()">Search</button>
    </div>
    <nav>
        <ul class="nav-buttons">
            @if (user?.username === '') {
                <li [routerLink]="['login']">Login</li>
                <li [routerLink]="['register']">Register</li>
            }
            @if (user?.username !== '') {
                <li [routerLink]="['profile']">{{user?.username}}</li>
                <!-- <li class="dropdown">{{ user?.username }}
                    <ul>
                        <li [routerLink]="['profile']">Profile</li>
                        <li (click)="logout()">Logout</li>
                    </ul>
                </li> -->
            }
        </ul>
    </nav>
</div>
