.panel {
    display: grid;
    grid-template-columns: auto 1fr;

    padding: 0.5rem;
    align-items: center;
}

nav ul {
    display: flex;  
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

nav ul li {
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: var(--primary-clr);
    padding-block: 0.4rem;
    padding-inline: 0.7rem;

    cursor: pointer;
}

nav ul li.bordered {
    border: 1px white solid;
    border-radius: 0.4rem;
}

nav ul li:hover {
    background-color: var(--primary-clr-hover);
    /* background-color: red; */
}

.panel img {
    cursor: pointer;
    height: 25px;
}

.branding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.branding label {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    
    cursor: pointer;
}

li.dropdown {
    position: relative;
}

li.dropdown ul {
    display: none;

    position: absolute;
    right: 0;

    border-radius: 0.3rem;
    
    background-color: var(--primary-clr);
}

li.dropdown ul li {
    font-size: 1rem;
    padding: 0.5rem;

    border: 1px white solid;
}

li.dropdown:hover ul {
    display: block;
}

li.dropdown ul li:hover {
    background-color: var(--primary-clr-hover);
}