<div class="panel">
    <div class="branding" [routerLink]="['']">
        <img src="./assets/logo.svg" alt="Logo"/>
        <label>Gigster</label>
    </div>
    <nav>
        <ul class="nav-buttons">
            @if (user?.username === '') {
                <li [routerLink]="['login']">Login</li>
                <li class="bordered" [routerLink]="['register']">Register</li>
            }
            @if (user?.username !== '') {
                <li class="dropdown">{{ user?.username }}
                    <ul>
                        <li [routerLink]="['profile']">Profile</li>
                        <li (click)="logout()">Logout</li>
                    </ul>
                </li>
            }
        </ul>
    </nav>
</div>
