.dialog {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.6rem;
    justify-items: center;
    align-items: center;

    padding: 1rem;
}

.dialog label {
    font-size: 1.1rem;
    text-align: center;
}

.dialog .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}