<div class="band-card">

    <div class="image">
        <img [src]="photoUrl">
    </div>

    <div class="details">

        <div>
            <h1>{{band().name}}</h1>
    
            <p>{{band().description}}</p>
        </div>
        
        <div class="buttons">
            <ng-content></ng-content>
        </div>

        <gig-tag>{{band().type | titlecase}}</gig-tag>

        <div class="genres">
            @for (genre of band().genres; track $index) {
                <gig-tag>{{genre.name}}</gig-tag>
            }
        </div>

    </div>
    
</div>