.band-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    padding: 1rem;

    border: 1px solid black;
    border-radius: 1rem;
}

.band-card .image {
    width: 18rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 1rem;
}

.band-card .details {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
}

.band-card .details .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.band-card .details h1 {
    font-size: 1.5rem;
}

.band-card .details p {
    font-size: 1rem;
}

.details .tags {
    display: inline-flex;
    justify-content: space-between;
}

.details .genres {
    display: flex;
    gap: 0.2rem;
    margin: auto;
}