<div class="card">

    <div class="content">

        <div class="image">
            <img [src]="photoUrl" [gigDefaultImage]="'../../../assets/default-band-picture.png'">
        </div>

        <div class="info">
    
            <div class="text">
                <h1>{{band().name}}</h1>
        
                <p>{{band().description}}</p>
            </div>
    
        </div>
            
        <div class="buttons">
            <ng-content></ng-content>
        </div>

    </div>

    <div class="tags">

        <gig-tag>{{band().type | titlecase}}</gig-tag>
    
        <div class="tags-section">
            @for (genre of band().genres; track $index) {
                <gig-tag>{{genre.name}}</gig-tag>
            }
        </div>

    </div>
    
</div>