.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.image {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;

    position: relative;

    margin-bottom: 1rem;
}

.image .pen {
    position: absolute;
    height: 1.5rem;

    left: 11.5rem;
    top: 11.5rem;

    cursor: pointer;
}

.image input {
    display: none;
}

.profile-detail {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.profile-detail img {
    height: 0.9rem;
    width: 1rem;
}

span.full-name {
    font-size: 1.8rem;
    font-weight: bold;
}

span.username, span.email {
    font-size: 1.1rem;
}

.profile-details button {
    margin-top: 0.3rem;
}