<div class="wrapper">
    <div class="profile-details">
        <img [src]="registeredUser?.profilePicturePath">
        <div class="profile-detail">
            <svg></svg>
            <span class="full-name">Veljko Nikolić</span>
        </div>
        <div class="profile-detail">
            <svg></svg>
            <span class="username">veljko</span>
        </div>
        <div class="profile-detail">
            <svg></svg>
            <span class="email">nikolicveljko01gmail.com</span>
        </div>
    </div>
    <div class="bands"></div>
</div>