.genres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax value as needed */
    gap: 0.3rem;
    max-height: 5rem;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(3, auto); /* Ensure 3 genres per column */
}

.genres span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}