:root {
    --hover-lightness-factor: 0.7;
    --click-lightness-factor: 0.5;

    --primary-clr-hue: 0;
    --primary-clr-saturation: 0%;
    --primary-clr-lightness: 20%;
    --primary-clr-alpha: 100%;

    --primary-clr-lightness-hover: calc(var(--primary-clr-lightness) * var(--hover-lightness-factor));

    --primary-clr-lightness-click: calc(var(--primary-clr-lightness) * var(--click-lightness-factor));

    /* accent colors */
    --primary-clr: hsla(var(--primary-clr-hue), var(--primary-clr-saturation), var(--primary-clr-lightness), var(--primary-clr-alpha));
    --primary-clr-hover: hsla(var(--primary-clr-hue), var(--primary-clr-saturation), var(--primary-clr-lightness-hover), var(--primary-clr-alpha)); 
    --primary-clr-click: hsla(var(--primary-clr-hue), var(--primary-clr-saturation), var(--primary-clr-lightness-click), var(--primary-clr-alpha));

    /* theme colors */
    --background-clr: white;
    --text-color: black;
    /* TODO */
}

*, *::before, *::after {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-clr);
}

button {
    color: white;
    background-color: var(--primary-clr);

    font-size: 1rem;

    border: 0px;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;

    transition: 0.1s;
}

button:hover {
    background-color: var(--primary-clr-hover);
}

button:active {
    background-color: var(--primary-clr-click);
}

input {
    color: black;
    background-color: white;

    width: 100%;

    font-size: large;
    overflow: visible;

    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px;

    transition: 0.15s;
}

input:focus {
    border: 1px solid #111;
    /* outline: 2px solid var(--primary-clr); */
    outline: none;
    box-shadow: 0 0 0 1px var(--background-clr), 0 0 0 3px var(--primary-clr);
    outline-offset: 1px;
}

header {
    background-color: var(--primary-clr);
}

a {
    text-decoration: none;
    color: #0039a3;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

label.required::after {
    content: '*';
    margin-left: 2px;
    color: rgb(200, 0, 0);
}

.errors p {
    color: #dd2b0e;
    margin-top: 0.4rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}
