<div class="layout">

    <div class="text-query">
        <span>Bands@if (searchRequest.query) {: "<strong>{{searchRequest.query}}</strong>"}</span>
    </div>

        <div class="grid">
    
            <div class="filters">

                <div class="filter">
                    <label>Band types</label>
                    <div class="checkboxes">
                        @for (bandType of bandTypes; track $index) {
                            <span class="checkbox">
                                <input type="checkbox" [id]="'band_type_' + bandType" (change)="onBandTypeChange($event, bandType)">
                                <span>{{bandType | titlecase}}</span>
                            </span>
                        }
                    </div>
                </div>
    
                <div class="filter">
                    <label>Genres</label>
                    <div class="checkboxes genres">
                        @for (genre of genres; track $index) {
                            <span class="checkbox">
                                <input type="checkbox" [id]="'genre_' + genre.id" (change)="onGenreChange($event, genre.id)">
                                <span>{{genre.name | titlecase}}</span>
                            </span>
                        }
                    </div>
                </div>
    
                <div class="filter">
                    <label for="price">Maximum price</label>
                    <span>Price to {{searchRequest.price}}</span>
                    <input id="price" type="range" min="0" [max]="maximumPrice" [value]="maximumPrice" (mouseup)="onPriceChanged()" [(ngModel)]="searchRequest.price">
                </div>
    
                <div class="filter">
                    <label for="durationHours">Duration (hours)</label>
                    <span>{{searchRequest.durationHours}} hours</span>
                    <input id="durationHours" type="range" [min]="minimumDuration" [max]="maximumDuration" (mouseup)="onDurationHoursChanged()" [(ngModel)]="searchRequest.durationHours">
                </div>
    
            </div>
    
            <div class="content">

                <div class="sorting-paging-section">
                    <label>Total: {{this.pagedResult?.page?.totalElements}}</label>

                    <div class="controls">

                        <div class="control">
                            <label>Items per page:</label>
                            <select [(ngModel)]="searchRequest.pageSize" (change)="onPageSizeChanged()">
                                <option>20</option>
                                <option>30</option>
                                <option>50</option>
                            </select>
                        </div>

                        <div class="control">
                            <label>Sort by:</label>
                            <select [(ngModel)]="searchRequest.sortBy" (change)="onSortByChanged()">
                                <option value="name">Name</option>
                                <option value="price_lowest">Price (lowest)</option>
                                <option value="price_highest">Price (highest)</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="gig-listings">
                    @for (gigListing of pagedResult?.content; track $index) {
                        <gig-gig-listing-card [gigListing]="gigListing">
                            <span><strong>{{gigListing.getMinimumPrice(searchRequest.durationHours)}}</strong> ({{searchRequest.durationHours}}h)</span>
                        </gig-gig-listing-card>
                    }
                </div>

                <div class="sorting-paging-section">
                    <label>Total: {{pagedResult?.page?.totalElements}}</label>

                    <div class="pages">
                        <span>Page {{(pagedResult?.page?.number || 0) + 1}} of {{pagedResult?.page?.totalPages}}</span>
                        <div class="buttons">
                            @if ((pagedResult?.page?.number || 0) + 1 > 1) {
                                @if ((pagedResult?.page?.number || 0) + 1 > 2) {
                                    <button (click)="firstPage()">&lt;&lt;</button>
                                }
                                <button (click)="previousPage()">&lt;</button>
                            }
                            @if ((pagedResult?.page?.number || 0) + 1 < (pagedResult?.page?.totalPages || 0)) {
                                <button (click)="nextPage()">&gt;</button>
                                @if ((pagedResult?.page?.number || 0) + 1 < (pagedResult?.page?.totalPages || 0) - 1) {
                                    <button (click)="lastPage()">&gt;&gt;</button>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>